In [1]:
from Simulation.EHR import generate_EHR
from Code.loaddata import open_files

# Open DATA

In [3]:
open_files('CPSC')

[[-0.02659794  0.06019023]
 [-0.0547416   0.07659802]
 [-0.02747288  0.06860666]
 ...
 [-0.03762209 -0.07251733]
 [-0.0366305  -0.06393087]
 [-0.03149757 -0.06444095]]
{'fs': 200, 'sig_len': 520088, 'n_sig': 2, 'base_date': None, 'base_time': None, 'units': ['mV', 'mV'], 'sig_name': ['I', 'II'], 'comments': ['non atrial fibrillation']}
[[-0.03442573 -0.11974417]
 [-0.04819602 -0.15112954]
 [-0.04426165 -0.11074836]
 ...
 [ 0.08885116  0.04171388]
 [ 0.0757366   0.01559273]
 [ 0.07639233 -0.03971482]]
{'fs': 200, 'sig_len': 611052, 'n_sig': 2, 'base_date': None, 'base_time': None, 'units': ['mV', 'mV'], 'sig_name': ['I', 'II'], 'comments': ['non atrial fibrillation']}
[[-0.07450193 -0.12681979]
 [-0.05866152 -0.20509137]
 [-0.06661562 -0.19174887]
 ...
 [-0.17932889  0.1742451 ]
 [-0.16177111  0.20205298]
 [-0.16177111  0.24029707]]
{'fs': 200, 'sig_len': 30483, 'n_sig': 2, 'base_date': None, 'base_time': None, 'units': ['mV', 'mV'], 'sig_name': ['I', 'II'], 'comments': ['paroxysmal atrial fibrillation']}
[[-0.12185476 -0.20421551]
 [-0.12885225 -0.20851068]
 [-0.12540817 -0.20916146]
 ...
 [-0.04947445 -0.17649218]
 [-0.05412122 -0.18417141]
 [-0.04646772 -0.18130797]]
{'fs': 200, 'sig_len': 401068, 'n_sig': 2, 'base_date': None, 'base_time': None, 'units': ['mV', 'mV'], 'sig_name': ['I', 'II'], 'comments': ['non atrial fibrillation']}
[[-0.02394409 -0.04772882]
 [-0.01019131  0.00174803]
 [-0.01205424 -0.01588427]
 ...
 [-0.04103919 -0.25133633]
 [-0.03649146 -0.24183616]
 [-0.02454681 -0.24168416]]
{'fs': 200, 'sig_len': 651198, 'n_sig': 2, 'base_date': None, 'base_time': None, 'units': ['mV', 'mV'], 'sig_name': ['I', 'II'], 'comments': ['non atrial fibrillation']}
[[ 0.0044357  -0.05755218]
 [ 0.00285537 -0.1332098 ]
 [ 0.00872774 -0.12250063]
 ...
 [-0.0493135   0.15270204]
 [-0.04579368  0.15277909]
 [-0.04489576  0.16418166]]
{'fs': 200, 'sig_len': 51097, 'n_sig': 2, 'base_date': None, 'base_time': None, 'units': ['mV', 'mV'], 'sig_name': ['I', 'II'], 'comments': ['non atrial fibrillation']}
[[5.02498471 5.00001672]
 [5.02498471 4.97004683]
 [5.0199888  4.95200293]
 ...
 [4.99698264 4.92505326]
 [4.99198674 4.932023  ]
 [4.98998837 4.94201297]]
{'fs': 200, 'sig_len': 290476, 'n_sig': 2, 'base_date': None, 'base_time': None, 'units': ['mV', 'mV'], 'sig_name': ['I', 'II'], 'comments': ['non atrial fibrillation']}
[[-0.01680848 -0.00315635]
 [-0.00368607 -0.00981976]
 [-0.01061588 -0.00736482]
 ...
 [-0.05868225 -0.04857274]
 [-0.05632317 -0.04734527]
 [-0.05425897 -0.03945439]]
{'fs': 200, 'sig_len': 310648, 'n_sig': 2, 'base_date': None, 'base_time': None, 'units': ['mV', 'mV'], 'sig_name': ['I', 'II'], 'comments': ['non atrial fibrillation']}
[[-0.04770531 -0.43957222]
 [-0.07146854 -0.48368223]
 [-0.0047782  -0.38755695]
 ...
 [-0.03937541  0.04072204]
 [-0.05728726  0.0512181 ]
 [-0.0324253   0.12674986]]
{'fs': 200, 'sig_len': 37239, 'n_sig': 2, 'base_date': None, 'base_time': None, 'units': ['mV', 'mV'], 'sig_name': ['I', 'II'], 'comments': ['paroxysmal atrial fibrillation']}
[[-0.01306771  0.01298596]
 [-0.00884854  0.04284154]
 [-0.00961034 -0.00388365]
 ...
 [-0.07336672 -0.2990412 ]
 [-0.07196033 -0.29697801]
 [-0.06322899 -0.26336015]]
{'fs': 200, 'sig_len': 518372, 'n_sig': 2, 'base_date': None, 'base_time': None, 'units': ['mV', 'mV'], 'sig_name': ['I', 'II'], 'comments': ['non atrial fibrillation']}
[[-0.04855668 -0.08203277]
 [-0.05819914 -0.09863382]
 [-0.057412   -0.07369752]
 ...
 [-0.01495565  0.03674457]
 [-0.04506374  0.01118313]
 [-0.06085573 -0.01507291]]
{'fs': 200, 'sig_len': 538367, 'n_sig': 2, 'base_date': None, 'base_time': None, 'units': ['mV', 'mV'], 'sig_name': ['I', 'II'], 'comments': ['non atrial fibrillation']}

'10 done'

# Generate EHR

In [3]:
df_EHR = generate_EHR('CPSC')

In [4]:
df_EHR.head(20)

,Age,Gender,BMI,ASA,Drugs,Alcohol,Smoking,Blood loss,Urine loss,General Fluid Loss
0,80,Female,HW,1,0. None,0. None,2. Uses,720,274,226
1,77,Female,HW,6,1. Used,0. None,1. Used,944,484,53
2,80,Male,HW,6,2. Uses,1. Used,0. None,895,48,538
3,77,Male,OW,4,1. Used,0. None,1. Used,342,967,529
4,51,Female,OW,1,1. Used,1. Used,0. None,605,569,540
5,52,Female,OW,2,1. Used,0. None,0. None,630,363,943
6,52,Male,OW,2,1. Used,0. None,1. Used,719,782,412
7,61,Male,HW,5,2. Uses,1. Used,1. Used,401,348,437
8,76,Male,HW,5,0. None,1. Used,1. Used,536,702,936
9,55,Male,OW,3,1. Used,1. Used,2. Uses,416,944,801
10,73,Male,UW,4,1. Used,2. Uses,2. Uses,240,99,129
11,75,Female,UW,1,1. Used,0. None,1. Used,659,620,158
12,71,Male,HW,4,2. Uses,0. None,0. None,218,368,437
13,77,Female,HW,6,0. None,2. Uses,2. Uses,574,109,132
14,59,Male,OW,5,2. Uses,1. Used,2. Uses,63,623,470
15,58,Female,HW,1,0. None,2. Uses,2. Uses,267,803,752
16,69,Female,UW,4,1. Used,0. None,1. Used,681,356,381
17,56,Male,HW,5,2. Uses,1. Used,0. None,255,372,54
18,69,Male,HW,2,1. Used,2. Uses,0. None,141,814,997
19,51,Male,HW,6,1. Used,1. Used,0. None,965,970,981