In [10]:
from Simulation.EHR import generate_EHR

In [11]:
df_EHR = generate_EHR('CPSC')

In [12]:
df_EHR.head(20)

,Age,Gender,BMI,ASA,Drugs,Alcohol,Smoking,Blood loss,Urine loss,General Fluid Loss
0,80,Female,HW,1,0. None,0. None,2. Uses,720,274,226
1,77,Female,HW,6,1. Used,0. None,1. Used,944,484,53
2,80,Male,HW,6,2. Uses,1. Used,0. None,895,48,538
3,77,Male,OW,4,1. Used,0. None,1. Used,342,967,529
4,51,Female,OW,1,1. Used,1. Used,0. None,605,569,540
5,52,Female,OW,2,1. Used,0. None,0. None,630,363,943
6,52,Male,OW,2,1. Used,0. None,1. Used,719,782,412
7,61,Male,HW,5,2. Uses,1. Used,1. Used,401,348,437
8,76,Male,HW,5,0. None,1. Used,1. Used,536,702,936
9,55,Male,OW,3,1. Used,1. Used,2. Uses,416,944,801
10,73,Male,UW,4,1. Used,2. Uses,2. Uses,240,99,129
11,75,Female,UW,1,1. Used,0. None,1. Used,659,620,158
12,71,Male,HW,4,2. Uses,0. None,0. None,218,368,437
13,77,Female,HW,6,0. None,2. Uses,2. Uses,574,109,132
14,59,Male,OW,5,2. Uses,1. Used,2. Uses,63,623,470
15,58,Female,HW,1,0. None,2. Uses,2. Uses,267,803,752
16,69,Female,UW,4,1. Used,0. None,1. Used,681,356,381
17,56,Male,HW,5,2. Uses,1. Used,0. None,255,372,54
18,69,Male,HW,2,1. Used,2. Uses,0. None,141,814,997
19,51,Male,HW,6,1. Used,1. Used,0. None,965,970,981